html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
}

h1 {
  font-size: 60px;
  text-align: center;
}

p, ul {
  font-size: 30px;
  
  letter-spacing: 1px;
  text-align: center;
  align-items: center;
}
button {
  text-align: center;
}
html {
  background-color: #8c8b91;
}
body {
  width: 1000px;
  margin: 40px auto;
  background-color: #0004ff;
  padding: 0 40px;
  border: 5px solid black;
}
ol {
  font-size: 30px;
  
  letter-spacing: 1px;
  text-align: left;
  align-items: left;
}
#prosopo {
  font-size: 20px;
  letter-spacing: 1px;
  font-style: italic;
  text-align: left;
  align-items: left;
}
#gnomiko, #menu{
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: left;
  align-items: left;
}
h1,a {
  margin: 0;
  padding: 20px auto ;
  color: #27bdeb;
  text-shadow: 4px 4px 2px black;
}

a:hover{
  color:#0004ff
}

img {
  display: block;
  width:900px;
  margin: 0 auto;
}